mat-card {
  width: max-content;
  margin-bottom: 2rem;
}

mat-form-field {
  margin-right: 1rem;
}

mat-card-title {
  padding-bottom: 1rem;
}

.book-category {
  width: 300px;
}

.book-title {
  width: 380px;
}

.book-author {
  width: 200px;
}

.book-price {
  width: 120px;
}
